@import "../../styles/img.scss";

.activity-container {
  display: flex;
  margin-bottom: 60px;

  &-inverted {
    display: flex;
    margin-bottom: 60px;
    flex-direction: row-reverse;
    justify-content: flex-end;

    .text {
      margin-left: 0;
      margin-right: 60px;
    }
  }
}

.img {
  @media (max-width: $breakpoint-md) {
    display: none;
  }

  img {
    @include responsive-img-width(435px, 380px, 300px, 0);
    @include responsive-img-height(316px, 276px, 217px, 0);
    object-fit: cover;
    object-position: 65% 65%;
  }

  p {
    width: 448px;
    color: #fffb;

    @media (max-width: $breakpoint-sm) {
      width: 350px;
    }

    @media (max-width: $breakpoint-sm) {
      width: 280px;
    }
  }
}

.text {
  margin-left: 60px;

  @media (max-width: $breakpoint-md) {
    margin-left: 0;
  }

  h2 {
    max-width: 391px;
    margin-bottom: 10px;
    font-family: PinyonScript !important;
    @include responsive-font-size(72px, 52px, 42px);
  }

  p {
    padding-bottom: 28px;
    max-width: 345px;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
    }
  }

  button {
    cursor: pointer;
  }
}
