.rating-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $dark-blue;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  p {
    color: $white;
  }

  h2 {
    color: $white;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 24px;

    @media (max-width: $breakpoint-md) {
      font-size: 20px;
    }
  }
}