.rating-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $dark-blue;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  p {
    color: $white;
  }

  h2 {
    color: $white;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 24px;

    @media (max-width: $breakpoint-md) {
      font-size: 20px;
    }
  }
}

.rating-sidebar {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  padding: 50px 40px;

  font-family: 'Poppins', sans-serif;

  @media (max-width: $breakpoint-md) {
    padding: 50px 30px;
  }

  p {
    font-size: 17px;

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  button {
    width: 100%;
  }
  
  .sidebar-info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $white;
    cursor: pointer;
    
    .blue-text {
      color: #D1DEFF;
      font-size: 14px;
    }
  }

  div.review-chef {
    margin-top: 32px;
    padding: 32px 0;
    border-top: 1px #D1DEFF solid;
    border-bottom: 1px #D1DEFF solid;

    h2 {
      margin: 0 0 10px 0;
    }

    @media (max-width: $breakpoint-md) {
      padding: 32px 0 0 0;
      border-bottom: 0;
    }
  }
}

.rating-main {
  width: 100%;
  background-color: $light-black;
  padding: 73px 80px;

  @media (max-width: $breakpoint-md) {
    padding: 50px 30px;
  }

  h2 {
    margin-bottom: 15px;
  }

  p {
    font-size: 20px;

    @media (max-width: $breakpoint-md) {
      font-size: 17px;
    }
  }

  .image-carousel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 46px;
    margin-bottom: 38px;
    border-bottom: 2px solid $white;

    a {
      color: $white;
      font-family: 'PoppinsMedium', sans-serif;
      font-size: 17px;
      text-decoration: none;

      @media (max-width: $breakpoint-md) {
        font-size: 14px;
      }
    }
  }
}