.rating-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $dark-blue;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  p {
    color: $white;
  }

  h2 {
    color: $white;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 24px;

    @media (max-width: $breakpoint-md) {
      font-size: 20px;
    }
  }
}

.rating-sidebar {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  padding: 50px 40px;

  @media (max-width: $breakpoint-md) {
    padding: 50px 30px;
  }

  p {
    font-size: 17px;

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  button {
    width: 100%;
    height: 41px;
    margin-top: 24px;
    font-family: 'PoppinsMedium', sans-serif;
    border-radius: 11px;
  }

  .customer-reviews {
    display: flex;
    align-items: center;
    margin-bottom: 11px;

    svg {
      width: 24px;
      height: 22px;
  
      path {
        fill: $gold;
      }
    }

    h3 {
      margin-left: 11px;
      color: $white;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: normal;
      
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }
  }
  
  .sidebar-info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $white;
    
    .blue-text {
      color: #D1DEFF;
      font-size: 14px;
    }
  }

  section.review-chef {
    margin-top: 32px;
    padding: 32px 0;
    border-top: 1px #D1DEFF solid;
    border-bottom: 1px #D1DEFF solid;

    h2 {
      margin: 0 0 10px 0;
    }

    @media (max-width: $breakpoint-md) {
      padding: 32px 0 0 0;
      border-bottom: 0;
    }
  }
}

.rating-main {
  width: 100%;
  background-color: $light-black;
  padding: 73px 80px;

  @media (max-width: $breakpoint-md) {
    padding: 50px 30px;
  }

  p {
    font-size: 20px;

    @media (max-width: $breakpoint-md) {
      font-size: 17px;
    }
  }

  .blue-text {
    color: #A1B5E5;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 17px;

    @media (max-width: $breakpoint-md) {
      font-size: 14px;
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 46px;
    margin-bottom: 38px;
    border-bottom: 2px solid $white;

    a {
      color: $white;
      font-family: 'PoppinsMedium', sans-serif;
      font-size: 17px;
      text-decoration: none;

      @media (max-width: $breakpoint-md) {
        font-size: 14px;
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 27px;

    button.dropdown-btn {
      width: 180px;
      height: 28px;
      background-color: $gold;
      padding: 5px 10px;
      border: 0;
      border-radius: 10px;
      color: $black;
      font-family: 'PoppinsMedium', sans-serif;
      font-size: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul.dropdown-menu {
      width: 180px;
      position: absolute;
      list-style-type: none;
      margin: 5px 0;
      padding: 0;

      // UPDATE STYLING LATER
      li.menu-item {
        margin: 0;
        background-color: #D1DEFF;

        button {
          width: 100%;
          height: 100%;
          text-align: left;
        
          background: none;
          border: none;
          padding: 5px;
          margin: 0;
          font-family: 'Poppins', sans-serif;
          cursor: pointer;

          &:hover {
            background-color: $dark-blue;
            color: $white;
          }
        }
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-bottom: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .user-rating {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
  
      path {
        fill: $gold;
      }
    }

    strong {
      color: $white;
      margin-left: 12px;
      font-family: 'PoppinsMedium', sans-serif;
      font-size: 17px;

      @media (max-width: $breakpoint-md) {
        font-size: 15px;
      }
    }
  }

  article.reviews {
    margin: 20px 0;

    .review-text {
      font-family: 'Helvetica', sans-serif;
      font-size: 19px;
      padding: 18px 0;

      @media (max-width: $breakpoint-md) {
        font-size: 15px;
      }
    }
  }

}