.benefitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 575px;
  background: $dark-blue;
}

.watermark {
  color: $light-blue;
  text-transform: uppercase;
  position: relative;
  top: 5px;
  font-size: 180px;
  right: 60px;

  @media (max-width: $breakpoint-lg) {
    align-self: flex-start;
    font-size: 135px;
    left: 32px;
  }

  @media (max-width: 960px) {
    align-self: flex-start;
    font-size: 135px;
    left: 20px;
  }

  @media (max-width: 650px) {
    font-size: 100px;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 75px;
    left: 12px;
  }

  @media (max-width: $breakpoint-xs) {
    font-size: 55px;
    left: 5px;
  }
}

.benefitColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
  row-gap: 50px;
  max-width: 1200px;
  width: 100%;
  position: relative;
  transform: translateY(-120px);

  @media (max-width: $breakpoint-lg) {
    transform: translateY(-100px);
  }

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    transform: translateY(-90px);
  }

  @media (max-width: $breakpoint-sm) {
    transform: translateY(-70px);
  }

  @media (max-width: $breakpoint-xs) {
    transform: translateY(-60px);
  }
}

.benefit {
  z-index: 2;
  border-radius: 8px;

  h4 {
    font-size: 36px;
    color: $white;
    margin-bottom: 4.05px;
  }

  p {
    color: #d0cfcf;
    max-width: 396px;
  }
}
