.user-registration-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $black;
  color: $white;

  .wrapper {
    width: 60%;
    align-self: center;

    @media (min-width: $breakpoint-xl) {
      width: 30%;
      zoom: 120%;
    }

    form {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
          color: $white;
        }

        .input {
          border: none;
          border-radius: 6px;
          padding: 10px 0;

          &.error {
            border: 3px solid #e74646;
          }
        }
      }

      .error-span {
        font-family: PoppinsMedium, sans-serif;
        font-size: responsive-font-size(36px, 24px, 18px);
        color: #e74646;
      }

      .submit-btn {
        width: fit-content;
        padding: 10px 20px;
        margin-top: 18px;
      }
    }
  }
}
