.user-registration-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $black;
  color: $white;

  &.success-modal-overlay {
    overflow: hidden;
    position: fixed;
    z-index: 0;

    display: flex;
    align-items: center;

    .inactive-success-modal {
      display: none;
    }

    .wrapper {
      overflow: hidden;
      position: fixed;
      z-index: 0;
      opacity: 0.6;
      margin-top: 180px;

      .user-registration-form {
        .submit-btn {
          pointer-events: none;
          cursor: not-allowed;
        }
      }
    }
  }

  .wrapper {
    width: 60%;
    align-self: center;

    @media (min-width: $breakpoint-4k) {
      width: 50%;
      zoom: 180%;
    }

    @media (max-width: 1680px) {
      width: 40%;
      zoom: 120%;
    }

    @media (max-width: $breakpoint-xl) {
      width: 40%;
      zoom: 120%;
    }

    @media (max-width: $breakpoint-lg) {
      width: 50%;
      zoom: 110%;
    }

    @media (max-width: $breakpoint-md) {
      zoom: 100%;
      width: 60%;
    }

    .user-registration-form {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        label {
          color: $white;
        }

        .input {
          border: none;
          border-radius: 6px;
          padding: 12px;
          font-size: responsive-font-size(14px, 12px, 10px);
          font-family: Poppins, sans-serif;

          &.error {
            border: 3px solid #e74646;
          }
        }
      }

      .error-span {
        font-family: PoppinsMedium, sans-serif;
        font-size: responsive-font-size(36px, 24px, 18px);
        color: #e74646;
      }

      .submit-btn {
        width: fit-content;
        padding: 10px 20px;
        margin-top: 18px;
      }
    }
  }
}
