.multi-step-form {
  width: 100%;

  h3.modal-title {
    font-family: PoppinsBold, sans-serif;
    margin-bottom: 36px;

    @media (max-width: $breakpoint-sm) {
      text-align: center;
    }
    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }

  .dark-blue-btn .link {
    font-size: 14px;
    color: white;
    text-decoration: none;
  }

  .progress-status {
    width: fit-content;
    position: absolute;
    right: 450px;
    top: 196px;
  }

  .page-container {
    display: grid;

    .title {
      font-family: PoppinsBold;
      margin-bottom: 10px;
    }

    .inputs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 14px;

      .full-input {
        grid-column: 1/4;
      }

      .description-textarea {
        width: 100%;
        grid-column: 1/4;
        height: 121px;
      }

      .input-address {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-right: 27px;
      }

      .input-zip {
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }
  }

  .step-btn {
    width: 125px;
    height: 46px;
    margin-top: 24px;
  }
}

// 541 (full)
// 305 (Address)
// 209 (Zip Code)
