.modal {
  background-color: $white;
  bottom: 1vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  margin: 18.5px;
  padding: 17px 20px;
  position: fixed;
  z-index: 4;

  &-text {
    padding: 13px 50px 13px 28px;

    h3 {
      font-size: 24px;
      padding-bottom: 3px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .modal {
    display: block;

    &-text {
      padding: 13px 14px;
    }
  }
}
