.modal {
  display: flex;
  justify-content: center;

  &-container {
    background-color: $white;
    bottom: 1vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 17px 20px;
    margin: 18.5px;
    position: fixed;
    z-index: 4;
  }

  &-text {
    padding: 16.5px 50px 16.5px 28px;

    h3 {
      font-size: 24px;
      padding-bottom: 3px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .modal-container {
    display: block;
  }

  .modal-text {
    padding: 0px 14px;
  }
}
