@import '../../styles/colors.scss';
.arrowBtn {
  font-size: 21px;
  color: $light-black;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 26px;
}

.modalChevronColor {
  color: $white;
  position: relative;
}
.modalTabChevronColor {
  color: $light-black;
}
