.outline-gold-button {
  padding: 8px 32px;

  background: transparent;
  color: $gold;
  font-weight: 800;

  border: 3px solid $gold;
  border-radius: 4px;
}

.button-primary {
  height: 38px;
  background-color: $gold;
  border: none;
  border-radius: 4px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}