$gold: #e7be51;
$tan: #e7d6a8;
$light-tan: #fcf3ee;
$overlay-gray: #00000096;
$light-black: #0e0e0e;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$dark-blue: #1e2434;
$light-blue: #4e5566;
$dark-tan: #d4c5a1;
$blue: #a2a8d3;
$light-gray: #e7e2e2;
$dark-gray: #585858;
