*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

@mixin responsive-font-size($lg-size, $md-size, $sm-size) {
  font-size: $sm-size;

  @media (min-width: $breakpoint-sm) {
    font-size: $md-size;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $lg-size;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

h1 {
  @include responsive-font-size(72px, 58px, 45px);
}

h2 {
  @include responsive-font-size(50px, 42px, 32px);
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

p {
  @include responsive-font-size(18px, 16px, 14px);
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}
