.spinner-container {
  position: fixed;
  z-index: 55;
  overflow: hidden;

  background: $overlay-gray;

  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-icon {
  color: $gold;
}
