$breakpoint-xlarge: 1250px;

.text-container {
  h2 {
    @include responsive-font-size(50px, 43px, 36px);
    margin: 10px 0 25px;
  }

  p {
    @include responsive-font-size(18px, 16px, 14px);
    margin-bottom: 25px;
  }
}

.parent {
  height: 100%;
  width: 100%;
  @media (min-width: $breakpoint-xlarge) {
    border-top: $light-black solid 200px;
    position: relative;
    z-index: -2;
  }
  @media (max-width: $breakpoint-xlarge) {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.black-container {
  background-color: $light-black;
  width: 100%;
  position: absolute;
  z-index: 0;
  height: 400px;
  @media (min-width: $breakpoint-xlarge) {
    height: 400px;
    transform: translate (0px, -300px);
  }
  @media (max-width: $breakpoint-xlarge) {
    height: 1000px;
    transform: translate(0px, -100px);
  }
}
.chef {
  @media (max-width: $breakpoint-xlarge) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 437.02px;
    height: 432px;
    object-fit: cover;
    z-index: 3;
    position: relative;
    @media (min-width: $breakpoint-xlarge) {
      float: right;
      top: -150px;
      left: -223px;
    }
    @media (max-width: $breakpoint-xlarge) {
      margin-bottom: -140px;
    }
  }
}
.gold-container {
  width: 894;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gold;
  position: relative;
  z-index: 2;
  @media (max-width: $breakpoint-xlarge) {
    width: 500px;
    height: 533px;
    position: relative;
    top: -50px;
  }
}
.text-container {
  width: 375px;
  @media (max-width: $breakpoint-xlarge) {
    width: 437.02px;
    padding-right: 15px;
    position: relative;
    top: 75px;
  }
}
.blue-container {
  width: 100%;
  height: 409px;
  background-color: $dark-blue;
  padding: -100px;
  position: absolute;
  z-index: 1;
  transform: translate(0px, -300px);
  @media (max-width: $breakpoint-xlarge) {
    display: none;
  }
}
