h2 {
  @include responsive-font-size(50px, 43px, 36px);
}
p {
  @include responsive-font-size(18px, 16px, 14px);
}

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1250px;

.parent {
  @media (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.chef {
  @media (max-width: $breakpoint-lg) {
    display: flex;;
    flex-direction: column;
    align-items: center;
    }
  img {
    width: 437.02px;
    height: 432px;
    object-fit: cover;
    z-index: 1;
    position: relative;
    @media (min-width: $breakpoint-lg) {
      float: right;
      top: -150px;
      left: -223px;
    }
    @media (max-width: $breakpoint-lg) {
      margin-bottom: -140px;
      //could add size query, not in wireframe, would also have to adjust line 60
    }
  }
}
.gold-container {
  width: 894;
  //should width be 100% ? I put exact px % from sketch
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gold;
  @media (max-width: $breakpoint-lg) {
    width: 500px;
    height: 533px;
    position: relative;
    top: -50px;
  }
}
.text-container {
  width: 375px;
  @media (max-width: $breakpoint-lg) {
    width: 437.02px;
    padding-right: 15px;
    position: relative;
    top: 75px;
  }
}
.blue-container {
  width: 100%;
  height: 409px;
  background-color: $dark-blue;
  padding: -100px;
  position: relative;
  bottom: 250px;
  z-index: -1;
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
