.dropdown-container {
  max-width: 541px;
  display: flex;
  flex-direction: column;
  min-height: 36px;

  label {
    font-family: PoppinsBold, sans-serif;
    font-size: 18px;
  }

  ul {
    width: 100%;
    display: flex;
    gap: 8px;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 10px;
  }

  .dropdown-box {
    width: 100%;
    height:auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 23px;
    border: 1px solid #979797;
    border-radius: 10px;
    cursor: pointer;

    p {
      color: #979797;
      font-size: 10px;
    }

    li.selected-cuisine {
      width: 81px;
      background-color: $gold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #979797;
      border-radius: 5px;
      padding: 7px 10px;

      svg {
        height: 14px;
      }
    }
  }

  .cuisines-list {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 1px solid #979797;
    border-radius: 10px;
    padding: 7px 0;
    overflow: hidden;

    li {
      width: 100%;
      padding: 5px 18px;

      &:hover {
        background-color: #91a7e2;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}