// RESPONSIVE LAYOUT BREAKPOINTS
$breakpoint-sm: 480px;
$breakpoint-md: 768px;

.chef-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    margin: 20px;
  }
}

.chef-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1), inset 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 330px;
  background-color: #fbf1e8;

  h1, h2, h3 {
    padding: 20px 20px 10px 20px;
    color: $light-black;
    font-size: 2rem;
  }

  .thumbnail {
    background-color: #eee;
    height: 200px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .ratings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding: 10px 20px;
    }

    .ribbon {
      background-color: $gold;
      padding-left: calc(.8em + .25em);
      clip-path: polygon(100vw 0,0 0,.8em 50%,0 100%,100vw 100%);
      border-image: conic-gradient($gold 0 0) fill 0;

      p {
        font-weight: bold;
        font-size: small;
        text-transform: uppercase;
        padding-right: 20px;
      }
    }
  }

  .tags ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    margin: 20px 0 10px 0;
    padding: 0 20px 0 20px;

    li {
      background-color: $light-black;
      border-radius: 5px;
      padding: 8px 15px;
      color: $white;
      font-family: Helvetica, sans-serif;
      font-weight: normal;
    }
  }

  .buy-btn-container {
    margin: 0 20px 15px 20px;

    button {
      background-color: $gold;
      border: none;
      border-radius: 5px;
      width: 100%;
      padding: 20px 10px;
      font-size: large;
      text-align: center;
    }
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}