.instructions-container {
    background-color: $gold;
    padding: 30px;

    &:hover {
        background-color: $gold;
        background-color: rgba($gold, 0.9);
    }
    h1, h2, h3, p {
        padding-bottom: 10px;
        color: $light-black;
    }    
}

.instructions {
    max-width: 1200px; 
}

.gold-color {
    width: 30px;
    height: 30px;
    background-color: #1E2434
}