.narrow-container {
  width: 100%;
  padding: 0 20px;

  @media (min-width: $breakpoint-sm) {
    padding: 0 31px;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 850px;
    padding: 0 75px;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: 1243px;
    padding: 0 170px;
  }
}
