.chef-card-container-scroll {
  background-color: $light-black;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 12px;
  padding: 0 85px 35px 85px;

  .chef-card {
    @media (max-width: $breakpoint-md) {
      width: 208px !important;
      margin: 0 0 30px 0;
    }
  }
}

.chef-card-container-grid {
  background-color: $light-black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 30px;
  gap: 12px;

  .chef-card {
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0 0 30px 0;
    }
  }
}

.conditional-border {
  border: 3pt solid $gold;
  padding: 0;
}

.chef-card {
  width: 208px;
  flex-shrink: 0;
  margin: 0 5px 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 6px 24px -5px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: #fbf3eb;

  h3 {
    margin: 0 15px 5px 15px;
    color: $black;
    font-size: 21px;
  }

  .thumbnail {
    img {
      width: 100%;
      height: 138px;
      object-fit: cover;
      margin-bottom: 15px;

      @media (max-width: $breakpoint-md) {
        height: 134px;
      }
    }
  }

  .tags ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0 10px 0;
    padding: 0 15px;

    li {
      background-color: $dark-blue;
      border-radius: 4px;
      padding: 8px;
      color: $white;
      font-family: Helvetica, sans-serif;
      font-size: 10px;
    }
  }

  .buy-btn-container {
    margin: 0 15px 10px 15px;

    button.button-primary {
      width: 100%;
    }
  }
}
