.icon-button {
    background-color: transparent;
    border: none;
    color: $dark-gray;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    .icon {
        vertical-align: bottom;
        color: $dark-gray;
        margin-left: 5px;
        font-size: responsive-font-size(24px, 20px, 16px);
    }
}